<form action="/add" method="post">
  <input type="text" name="country" autofocus placeholder="<%= locals.error ? error :  'Enter country name'%>">
  <button type="submit" style="background-color: <%= color %>;">Add</button>
</form>